# Backend API Configuration
PORT=10000
NODE_ENV=development
RPC_URL_BSC=https://bsc-dataseed.binance.org/

# Smart Contract Configuration
CONTRACT_ADDRESS=0xCf5E5d01ADd5e2Ba62B2f6747E5CFC43e36D5005
TOKEN_ADDRESS=0xaac20575371de01b4d10c4e7566d5453d72d56e7

# WebSocket Configuration
WEBSOCKET_ORIGIN=*

# Game Settings
MIN_STAKE=50000
MAX_STAKE=1000000
STAKE_STEP=50000